snippet t1 "标题"
# $1
$0
endsnippet

snippet t2 "标题"
## $1
$0
endsnippet

snippet t3 "标题"
### $1
$0
endsnippet

snippet t4 "标题"
#### $1
$0
endsnippet

snippet t5 "标题"
##### $1
$0
endsnippet

snippet b "粗体"
**$1**$0
endsnippet

snippet a "链接"
[$1]($2)$0
endsnippet

snippet p "图片"
![$1]($2)$0
endsnippet

snippet ic "行内代码"
\`$1\`$0
endsnippet

snippet c "代码块"
\`\`\`$2
$1
\`\`\`
$0
endsnippet

snippet l "分割线"
---
$0
endsnippet
